@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --primary-green: rgb(80, 160, 96);
  --primary-dark: #212529;
}

nav a.nav-link{
  letter-spacing: 0.05rem;
  font-weight:500;
  cursor:pointer;
}

nav ul li{
  text-transform: uppercase;
}

nav ul{
font-family: 'Roboto Condensed', sans-serif;
}

nav a.nav-link{
  position: relative;
  box-sizing: border-box;
  border-bottom: 2px solid var(--primary-dark);
}

/* .navbar-nav li.active, */
 .navbar-nav li a:focus{
border-bottom: 2px solid var(--primary-green);
color:var(--primary-white);
transition-property: border;
transition-duration: 0.2s;
transition-timing-function: ease-in;
}

a.nav-link:hover{
  color: var(--primary-green)
}


a.nav-link:focus{
  color:var(--primary-white);
}
/* This is not working properly******************************************* */
/* .nav-link:hover ::after{
  content:"";
  position:absolute;
  bottom:-10px;
  left:0;
  height:1px;
  width:100%;
  background-color: green;  
  transition-property: width;
  transition-timing-function: ease-in-out;
  transition-delay: 1s;
 
} */

.navbar-nav> li > a{
  color: var(--primary-white);
  margin: 0 0.75rem;
}

/* .navbar-toggler{
  background-color: var(--primary-white) !important;
  /* color:white !important; */
/* } */ 

.hamburger{
  color:white;
}
















